.post-title {
    z-index: 1000;
    position: fixed;
    top: 80%;
    left: 0;
}
.box {
    width: 90%;
}

.box .comment-main {
    background-color: #ff7f56;
    border-radius: 20px;
    height: 57px;
    left: 0;
    top: 0;
    width: 90%;
    margin: 10px;
}

input {
    padding-left: 10%;
    font-size: 20px;
    font-weight: bold;
    font-size: large;
    caret-color: #ffac90;
    outline-color: #ffac90;
    
}
input::placeholder {
    text-align: center;
    color: #ffac90;
    font-size: 20px;
    font-weight: bold;
    font-size: large;
    margin-right: 10%;
}

.box .rectangle {
    background-color: #ffffff;
    border-radius: 30px;
    height: 49px;
    width: 98%;
    margin-top: 4px;
    margin-left: 3px;
}

.button {
    margin: 10px;
    width: 70%;
    height: 70%;
}

.post-flex {
    width: 95vw;
    justify-content: center;
    display: flex;
    margin-left: 4%;
}