.post-title {
    z-index: 1000;
    position: fixed;
    top: 80%;
    left: 0;
}
.box {
    width: 90vw;
}

.box .comment-main {
    background-color: #ff7f56;
    border-radius: 20px;
    height: 57px;
    left: 0;
    top: 0;
    width: 90%;
    margin: 10px;
}

input::placeholder {
    text-align: center;
    color: #ffac90;
}

.box .rectangle {
    background-color: #ffffff;
    border-radius: 30px;
    height: 49px;
    width: 98%;
    margin: 3px;
}

.button {
    margin: 10px;
    width: 70%;
    height: 70%;
}

.post-flex {
    width: 95vw;
    justify-content: center;
    display: flex;
    margin-left: 4%;
}